/* Default CSS Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sofia Sans", sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 97, 121) 29%, rgb(217, 217, 217) 100%);
}

/* Start header section */
#title-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3% 5%;
  background-color: black;
}
#title-container .title {
  color: white;
}

/* End header section */
/* Start of counter section */
#counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
#counter-container #buttons-container {
  display: flex;
}
#counter-container #buttons-container #plus-button,
#counter-container #buttons-container #minus-button {
  cursor: pointer;
  padding: 20px;
  font-size: 40px;
  width: 85px;
  background-color: rgb(52, 110, 173);
  border: solid 1px white;
  color: white;
  transition: all 0.3s;
}
#counter-container #buttons-container #plus-button {
  border-top-left-radius: 5px;
}
#counter-container #buttons-container #minus-button {
  border-top-right-radius: 5px;
}
#counter-container #buttons-container #plus-button:active,
#counter-container #buttons-container #minus-button:active {
  color: rgb(52, 110, 173);
  background-color: white;
  border: solid 1px rgb(52, 110, 173);
}
#counter-container #buttons-container #display-counter-container {
  display: block;
  width: 250px;
}
#counter-container #buttons-container #display-counter-container #counter-display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 90px;
  color: white;
  border-top: solid 1px white;
  border-bottom: solid 1px white;
  background-color: rgb(43, 129, 222);
}
#counter-container #function-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#counter-container #function-container #form-check {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 76px;
  border-bottom-left-radius: 5px;
  background-color: rgb(52, 110, 173);
  border-bottom: solid 1px white;
  border-left: solid 1px white;
}
#counter-container #function-container #form-check #form-check-input {
  cursor: pointer;
}
#counter-container #function-container #form-check #form-check-label {
  color: white;
  margin-left: 8px;
  font-size: 20px;
}
#counter-container #function-container #reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#counter-container #function-container #reset-button-container #reset-button {
  cursor: pointer;
  padding: 25px;
  width: 210px;
  height: 76px;
  font-size: 20px;
  border-bottom-right-radius: 5px;
  background-color: rgb(52, 110, 173);
  border-bottom: solid 1px white;
  border-right: solid 1px white;
  border-left: solid 1px white;
  border-top: none;
  color: white;
  transition: all 0.3s;
}
#counter-container #function-container #reset-button-container #reset-button:active {
  color: rgb(52, 110, 173);
  background-color: white;
  border: solid 1px rgb(52, 110, 173);
}

@media (max-width: 768px) {
  * {
    touch-action: manipulation;
  }
  .title {
    font-size: 18px;
    padding: 10px;
  }
  #counter-container {
    margin-top: 30%;
  }
  #counter-container #buttons-container #display-counter-container {
    width: 180px;
  }
  #counter-container #buttons-container #display-counter-container #counter-display {
    font-size: 24px;
    height: 70px;
  }
  #counter-container #buttons-container #plus-button,
#counter-container #buttons-container #minus-button {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 50px;
    height: 70px;
  }
  #counter-container #function-container #form-check {
    padding: 15px;
    width: 140px;
    height: 70px;
  }
  #counter-container #function-container #form-check #form-check-input {
    margin-right: 2px;
  }
  #counter-container #function-container #form-check #form-check-label {
    font-size: 16px;
  }
  #counter-container #function-container #reset-button-container #reset-button {
    font-size: 16px;
    width: 140px;
    height: 70px;
    padding: 15px;
  }
}
/* End of counter section *//*# sourceMappingURL=style.css.map */